<div class="header d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Title</h5>
  <nav class="my-2 my-md-0 mr-md-3 cc_cursor">
    <a class="p-2 text-dark" href="#">Go back to Upload</a>
  </nav>
</div>
<div class="d-flex w-100 h-100 p-5 mx-auto flex-column">
  <main role="main" class="main">
      <h1 class="cover-heading">Successfully Created!</h1>
      <br/>
    <p class="lead">
      Your auto e-signning links are successfully created! To review your upload and details please click the links below!</p>
<ul class="esign-links">
<a [routerLink]="['/sign-doc']">
  http://localhost:4200/sign-doc/dsadiv384920cskal/csajencja
</a>
<!-- <a [routerLink]="['/sign-doc']" [queryParams]="{debug: true}" queryParamsHandling="merge">
</a> -->
<!-- for the time we send params -->
</ul>

      <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary cc_pointer">Learn more</a>
    </p>
  </main>
</div>