<div class="destination bg-light">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark cc_cursor">
    <a class="navbar-brand mr-auto mr-lg-0 cc_pointer">company logo</a>
  </nav>
  <div class="container">
    <div
      class="header d-flex bg-white align-items-center p-3 my-3 rounded shadow-sm cc_cursor"
    >
      <div>
        <h6 class="mb-0 lh-100 cc_cursor">Hi, John Mikalasukas</h6>
        <small>Sign your document & confirm</small>
      </div>
    </div>
    <div class="my-3 p-3 bg-white rounded shadow-sm">
      <h6 class="border-bottom border-gray pb-2 mb-0">Docs</h6>
      <div class="media text-muted pt-3"></div>
      <div class="media text-muted pt-3">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <a
            href="https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf"
            >https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf</a
          >
        </p>
      </div>
      <div class="media text-muted pt-3">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <a
            href="https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf"
            >https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf</a
          >
        </p>
      </div>
      <div class="media text-muted pt-3">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <a
            href="https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf"
            >https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf</a
          >
        </p>
      </div>
      <small class="d-block mt-3">
        <a href="#">All Documents</a>
      </small>
      <br/>
      <div class="media text-muted pt-3">
        <small>
          <input type="checkbox" ng-model="all" /> I agree to all the documents
          listed above and Medical Service Agreement.<br /><br />
        </small>
      </div>
      <button type="button" class="btn btn-lg btn-block btn-outline-primary" (click)="confirm()">Agree & Confirm</button>
    </div>


    <!-- <pdf-viewer [src]="pdfSrc" 
        [render-text]="true"
        style="display: block;"
        ></pdf-viewer> -->
  </div>
</div>
